body{
    background-size: cover;
}
#start, #number_of_objects, #status{
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: Black;
}
#name_of_object{
    width: 300px;
}
.heading{
    width: 100%;
    font-size: 25px;
    text-align: center;
    border-style:dashed;
    border-width: 10px;
    border-color: black;
    margin: 0%;
}
.copy_right_footer{
    position: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    bottom: 0%;
    width: 100%;
    text-align: center;
    border-style:dashed;
    border-color: black;
    background-color: lightcoral;
    border-width: 10px;
}
#red{
    font-size: 25px;
    color: darkred;
}
canvas{
    box-shadow: aquamarine;
    border-color: cadetblue;
    border-width: 10px;
    margin-top: 130px;
}